<li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Total hp: {{semester}}
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            60
        </div>
    </div>
</li>

<li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Period 1
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            20
        </div>
    </div>
</li>
<li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Period 2
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            40
        </div>
    </div>
</li>
<li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Avancerade
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            24
        </div>
    </div>
</li>