<li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Total hp:
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <p id="overview-{{semester}}-total-hp">0</p>
        </div>
    </div>
</li>

<li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Period 1
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <p id="overview-{{semester}}-period-1-hp">0</p>
        </div>
    </div>
</li>
<li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Period 2
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <p id="overview-{{semester}}-period-2-hp">0</p>
        </div>
    </div>
</li>
<li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Avancerade
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <p id="overview-{{semester}}-advanced-hp">0</p>
        </div>
    </div>
</li>
<li class="py-3 sm:py-4">
    <div class="flex items-center space-x-4">
        <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                Grund
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <p id="overview-{{semester}}-basic-hp">0</p>
        </div>
    </div>
</li>