
<div class="lg:w-fit md:w-full h-full p-4 bg-white rounded-lg sm:p-8 ">
    <h5 class="mb-4 text-xl font-bold text-gray-700 dark:text-gray-400">Utökad poängöversikt</h5>
    <div class="flex items-baseline text-gray-900 dark:text-white">
    </div>
    <div class="flex lg:space-x-36 md:space-x-24 sm:space-x-10">
        <div> 
            <div class="mt-5 text-lg space-x-3 text-gray-600 font-semibold flex justify-between">
                <p class=""> Huvudområden </p>
                <p> Hp </p>
            </div>
            <ul id="semester-{{semester}}-requirements" role="list" class="space-y-3 my-5">
                <li class="flex space-x-3 items-center">
                    <span class="flex justify-between w-full text-base font-normal leading-tight text-gray-600 dark:text-gray-400">
                        <p> Informatik </p>
                        <p> 20</p>
                    </span>
                </li>
                <li class="flex space-x-3 items-center">
                    <span class="flex justify-between w-full text-base font-normal leading-tight text-gray-600 dark:text-gray-400">
                        <p> Informatik </p>
                        <p> 20</p>
                    </span>
                </li>
                <li class="flex space-x-3 items-center">
                    <span class="flex justify-between w-full text-base font-normal leading-tight text-gray-600 dark:text-gray-400">
                        <p> Informatik </p>
                        <p> 20</p>
                    </span>
                </li>
            </ul>
        </div>
        <div>
            <div class="mt-5 space-x-3 text-lg text-gray-600 font-semibold flex justify-between">
                <p class=""> Inriktingar</p>
                <p> Hp </p>
            </div>
            <ul id="semester-{{semester}}-requirements" role="list" class="space-y-3 my-5">
                <li class="flex space-x-3 items-center">
                    <span class="flex justify-between w-full text-base font-normal leading-tight text-gray-600 dark:text-gray-400">
                        <p> Informatik </p>
                        <p> 20</p>
                    </span>
                </li>
                <li class="flex space-x-3 items-center">
                    <span class="flex justify-between w-full text-base font-normal leading-tight text-gray-600 dark:text-gray-400">
                        <p> Informatik </p>
                        <p> 20</p>
                    </span>
                </li>
                <li class="flex space-x-3 items-center">
                    <span class="flex justify-between w-full text-base font-normal leading-tight text-gray-600 dark:text-gray-400">
                        <p> Informatik </p>
                        <p> 20</p>
                    </span>
                </li>
            </ul>
        </div>
    </div>        
</div>
