
<div class="lg:w-fit md:w-full h-full p-4 bg-white rounded-lg sm:p-8 ">
    <h5 class="mb-4 text-xl font-bold text-gray-700 dark:text-gray-400">Utökad poängöversikt</h5>
    <div class="flex items-baseline text-gray-900 dark:text-white">
    </div>
    <div class="flex flex-col lg:flex-row md:flex-row lg:space-x-36 md:space-x-24 sm:space-x-0">
        <div> 
            <div class="mt-5 text-lg space-x-5 text-gray-600 font-semibold flex justify-between">
                <p class=""> Huvudområden </p>
                <p> Hp </p>
            </div>
            <ul id="semester-field-reqs" role="list" class="space-y-3 my-5">
            </ul>
        </div>
        <div>
            <div class="mt-5 space-x-3 text-lg text-gray-600 font-semibold flex justify-between">
                <p class=""> Inriktingar</p>
                <p> Hp </p>
            </div>
            <ul id="semester-profile-reqs" role="list" class="space-y-3 my-5">
            </ul>
        </div>
    </div>        
</div>
