{% extends 'base.html' %}
{% block content %}
<input id="chosen-term" value="7" class="hidden">
<main class="flex w-full justify-between p-10 space-x-10 h-full">
    <container class="rounded-md bg-white h-full w-full">
        <div>
            <p class="font-bold text-2xl"> Period 1 </p>
            <div class="grid grid-cols-4"> 
                <div class="w-36 h-36 bg-black">

                </div>
                <div class="w-36 h-36 bg-black">

                </div>
                
                <div class="w-36 h-36 bg-black">

                </div>
                <div class="w-36 h-36 bg-black">

                </div>
            </div>
        </div>
    </container>

    <div class="flex justify-center rounded-md h-full w-full bg-white">
        {% include 'setup.html' %}
    </div>
</main>
{% endblock content %}

