{% block content %}
    <div class="">
        <div class="flex flex-col justify-start bg-white space-y-4 p-4 rounded-lg overflow-clip "> 
            <div class="">
                <p class="text-2xl font-bold"> Välj ditt program </p>
                <p> OBS: Appen stödjer just nu bara civilingenjörslinjer </p>
            </div>
            <div class="flex ">
                <form class="flex " method="POST">
                    {% csrf_token %}
                    {{ form }}
                        <button class="bg-slate-700 text-white p-3 transition ease-in-out duration-300 hover:bg-slate-900 rounded-br-lg rounded-tr-lg" type="submit">Välj program</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}