{% extends 'base.html' %}

{% block content %}
    <div id="home-container" class="flex bg-gray-100 flex-col justify-center items-center space-y-2">
        <h1 class="text-black">Hi {{ user.username }}! </h1>
        <div class="flex space-x-2">
            <p>Total hp vald: </p>
            <p id="hp">0</p>
        </div>
        <a class="bg-sky-500 text-white p-3 transition ease-in-out duration-300 hover:bg-sky-700 rounded-lg" href="{% url 'logout' %}">Log Out</a>
        <div id="chosen-courses" class="flex w-full px-48 flex-col">
            <p class="text-3xl my-2"> Mina kurser </p>
            {% include 'my_courses.html' %}
        </div>

            {% include 'courses.html' %}
{% endblock %}
