{% block courses %}
    <p class="text-2xl"> {{ program_name }} </p>
    {% if profile_picked %}
        <form action={% url 'profile' %} method="POST">
    {% else %}
        <form action={% url 'courses' %} method="POST">
    {% endif %}
        {% csrf_token %}
        <input type="hidden" value="{{ profile_code }}" name="profile_code"/>
        <input type="hidden" value="{{ profile_name }}" name="profile_name"/>
        <button class="btn btn-primary bg-sky-500 border-none text-white" name="t7" value="Termin 7" type="submit">Termin 7</button>
        <button class="btn btn-primary bg-sky-500 border-none text-white" name="t8" value="Termin 8" type="submit">Termin 8</button>
        <button class="btn btn-primary bg-sky-500 border-none text-white" name="t9" value="Termin 9" type="submit">Termin 9</button>
    </form>
    {% if not profile_picked %}
        <p class="text-3xl"> {{ termin }} </p>
        {% for term, course in term_courses.items %}
        <table class="table px-20 rounded-lg overflow-hidden mb-10">
        <thead class="bg-sky-300 text-black/75 text-xl">
            <tr>
                <th>Period {{term}}</th>
            {% for tag, x in course_tags.items %}
                <th>
                    {{ tag }}
                </th>
            {% endfor %}
            </tr>
        </thead>
            <tbody class="text-lg">
                {% for course_data in course %}
                <tr class="bg-white hover:bg-sky-100">
                        <td>
                            <input type="checkbox" onclick="get_schedule(this.value)" class="checkbox checkbox-info" value="{{schedule}}">
                        </td>
                    
                        {% for schedule_data in course_data.values %}
                            <td> {{ schedule_data }} </td>

                        {% endfor %}
                        <td>
                            <label class="swap bg-sky-200 rounded-md transition ease-in-out drop-shadow-sm hover:bg-sky-500 hover:text-white">
                                <input class="hidden" type="checkbox" onclick="load_course_info(this.id)" id="{{course_data.course_code}}"/>
                                    <span class="material-symbols-outlined swap-on rounded-lg bg-sky-500 text-white">
                                        keyboard_arrow_up
                                    </span>
                                
                                    <span class="material-symbols-outlined swap-off ">
                                        expand_more
                                    </span>
                              </label>

                        </td>
                </tr>
                        <tr id="dropdown-{{course_data.course_code}}">
                            <td class="overflow-hidden p-0" colspan="7" id="insert-{{course_data.course_code}}">
                                <div id="course-info-container-{{course_data.course_code}}" class="hidden overflow-hidden shadow-box">
                                    <div class="flex border-x-2 border-x-stone-100 border-t-2 border-t-stone-200 p-5 bg-white mb-5 rounded-b-lg">
                                        <span id="courses-loader-{{course_data.course_code}}" class"hidden">
                                            <button class="btn">
                                                <span class="loading loading-spinner"></span>
                                                    Laddar
                                              </button>
                                        </span>
                                        <div id="info-container-{{course_data.course_code}}" class="flex flex-col p-5 border-r-2 border-black/25">
                                        </div>

                                        <div id="examination-container-{{course_data.course_code}}" class="flex flex-col p-5">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    {% endif %}
{% endblock %}

