{% block courses %}
<input id="profile-code" value="{{ profile_code }}" class="hidden">
<div id="courses-main-container" class="flex w-full space-x-5 px-32 bg-yellow-accent">
    <div class="w-full">
        <p class="text-4xl font-bold"> {{ program_name }} </p>
        <div id="pickable-courses" class="sticky top-0 transition ease z-10">
            <div class="flex py-2 justify-between items-end">
                <div> 
                    <p class="font-bold text-lg">Välj termin</p>
                    <div class="flex border-2 border-black/10 rounded-lg overflow-hidden">
                        <button id="semester-btn-7" onclick="get_courses_semester(this.value); highlight_semester_card('semester-' + this.value + '-card')" class="bg-slate-800 p-3 cursor-default text-white transition ease-in-out" value="7" type="submit">Termin 7</button>
                        <button id="semester-btn-8" onclick="get_courses_semester(this.value); highlight_semester_card('semester-' + this.value + '-card')" class="bg-slate-200 p-3 text-black/75 transition ease-in-out hover:bg-slate-500 hover:text-white" value="8" type="submit">Termin 8</button>
                        <button id="semester-btn-9" onclick="get_courses_semester(this.value); highlight_semester_card('semester-' + this.value + '-card')" class="bg-slate-200 p-3 text-black/75 transition ease-in-out hover:bg-slate-500 hover:text-white" value="9" type="submit">Termin 9</button>
                    </div>
                </div>
                
                <form action="{% url 'home' %}" method="POST" class="flex h-full">
                    {% csrf_token %}
                    {{ form.profiles }}
                    <button class="bg-slate-600 text-white p-3 transition ease-in-out duration-300 hover:bg-slate-900 rounded-br-lg rounded-tr-lg" name="pick_profile" type="submit">Välj profil</button>
                </form>
                <div>
                    <p class="font-bold text-lg"> Välj period: </p>
                    <div class="flex border-2 border-black/10 rounded-lg overflow-hidden">
                        <button id="period-1-btn" onclick="toggle_period(this.value)" value="1" data-toggled="true" class="bg-slate-800 p-3 text-white transition ease-in-out" type="submit">Period 1</button>
                        <button id="period-2-btn" onclick="toggle_period(this.value)" value="2" data-toggled="true" class="bg-slate-800 p-3 text-white transition ease-in-out" type="submit">Period 2</button>
                    </div>
                </div>
            </div>
            <table id="pop-up-row" class="table hidden absolute px-20 bg-slate-600 rounded-t-md rounded-b-none overflow-hidden w-full shadow-md">
                <thead id="big-ass-head">
                    <tr class="text-white text-lg text-center">
                        <th>Välj</th>
                        <th id="kurskod" data-ascend=true onclick="sort_courses('course_code', this.id)">
                            <div class="flex items-center ml-1 w-max cursor-pointer">
                                Kurskod
                                <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                    swap_vert
                                </span>
                            </div>
                        </th>
                        <th id="kursnamn" class="text-left" data-ascend=true onclick="sort_courses('course_name', this.id)">
                            <div class="flex items-center cursor-pointer w-max">
                                Kursnamn
                                <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                    swap_vert
                                </span>
                            </div>
                        </th>
                        <th id="hp" data-ascend=true onclick="sort_courses('hp', this.id)" >
                            <div class="flex items-center space-x-4 cursor-pointer">
                                Hp
                                <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                    swap_vert
                                </span>
                            </div>
                        </th>
                        <th id="block" data-ascend=true onclick="sort_courses('block', this.id)" >
                            <div class="flex items-center space-x-4 cursor-pointer">
                                Block
                                <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                    swap_vert
                                </span>
                            </div>
                        </th>
                        <th id="level" data-ascend=true onclick="sort_courses('level', this.id)" >
                            <div class="flex items-center space-x-4 cursor-pointer">
                                Nivå
                                <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                    swap_vert
                                </span>
                            </div>
                        </th>
                        <th id="vof" >
                            <div class="flex items-center space-x-4 ">
                                Vof
                            </div>
                        </th>
                        <th>Detaljer</th>
                    </tr>
                </thead>
                <tbody class="text-sm">
                    <tr style="visibility:collapse;" class="invisible">
                        <td>Välj</td>
                        <td>Kurskod</td>
                        <td class="text-left w-2/5">LÅNGT KURSNAMN 123123</td>
                        <td>Hp</td>
                        <td>Block</td>
                        <td>Nivå</td>
                        <td>Vof</td>
                        <td>Detaljer</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="inline-flex pb-2">
            <p class="text-2xl font-bold">Profil Vald: &nbsp</p>
            <p class="text-2xl"> {{ profile_name }} </p>
        </div>
        <div id="tables-container" class="flex flex-col">
            <div id="period-1">
                <table id="courses-period-1" class="table rounded-t-md rounded-b-none overflow-hidden">
                    <thead class="bg-slate-600 text-white text-lg">
                    <tr class="">
                        <th>Välj</th>
                        <th id="kurskod" data-ascend=true onclick="sort_courses('course_code', this.id)">
                            <div class="flex items-center w-max cursor-pointer">
                                Kurskod
                                <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                    swap_vert
                                </span>
                            </div>
                        </th>
                        <th id="kursnamn" class="text-left" data-ascend=true onclick="sort_courses('course_name', this.id)">
                            <div class="flex items-center cursor-pointer w-max">
                                Kursnamn
                                <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                    swap_vert
                                </span>
                            </div>
                        </th>
                        <th id="hp" data-ascend=true onclick="sort_courses('hp', this.id)" >
                            <div class="flex items-center space-x-4 cursor-pointer">
                                Hp
                                <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                    swap_vert
                                </span>
                            </div>
                        </th>
                        <th id="block" data-ascend=true onclick="sort_courses('block', this.id)" >
                            <div class="flex items-center space-x-4 cursor-pointer">
                                Block
                                <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                    swap_vert
                                </span>
                            </div>
                        </th>
                        <th id="level" data-ascend=true onclick="sort_courses('level', this.id)" >
                            <div class="flex items-center space-x-4 cursor-pointer">
                                Nivå
                                <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                    swap_vert
                                </span>
                            </div>
                        </th>
                        <th id="vof" >
                            <div class="flex items-center space-x-4">
                                Vof
                            </div>
                        </th>
                        <th>Detaljer</th>
                    </tr>
                    
                        <tr> 
                            <td class="px-10 py-3 text-xl font-bold text-black shadow-md bg-slate-100" colspan="8">
                                Period 1
                            </td>
                        </tr>
                </thead>
                    <tbody id="table-1" class="text-sm" >
                    </tbody>
                </table>
            </div>

            <div id="period-2">
                <table id="courses-period-2" class="table rounded-b-md rounded-t-none overflow-hidden mb-10">
                <thead >
                    <tr id="toggle-period-2" class="text-lg bg-slate-600 text-white" style="visibility:collapse" >
                    <th>Välj</th>
                    <th id="kurskod" data-ascend=true onclick="sort_courses('course_code', this.id)">
                        <div class="flex items-center w-max cursor-pointer">
                            Kurskod
                            <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                swap_vert
                            </span>
                        </div>
                    </th>
                    <th id="kursnamn" class="text-left" data-ascend=true onclick="sort_courses('course_name', this.id)">
                        <div class="flex items-center cursor-pointer w-max">
                            Kursnamn
                            <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                swap_vert
                            </span>
                        </div>
                    </th>
                    <th id="hp" data-ascend=true onclick="sort_courses('hp', this.id)" >
                        <div class="flex items-center space-x-4 cursor-pointer">
                            Hp
                            <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                swap_vert
                            </span>
                        </div>
                    </th>
                    <th id="block" data-ascend=true onclick="sort_courses('block', this.id)" >
                        <div class="flex items-center space-x-4 cursor-pointer">
                            Block
                            <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                swap_vert
                            </span>
                        </div>
                    </th>
                    <th id="level" data-ascend=true onclick="sort_courses('level', this.id)" >
                        <div class="flex items-center space-x-4 cursor-pointer">
                            Nivå
                            <span style="font-size:20px;" class="material-symbols-outlined ml-1">
                                swap_vert
                            </span>
                        </div>
                    </th>
                    <th id="vof" >
                        <div class="flex items-center space-x-4 cursor-pointer">
                            Vof
                        </div>
                    </th>
                    <th>
                        Detaljer
                    </th>
                    <tr>
                        <td class=" px-10 py-3 text-xl font-bold text-black shadow-md bg-slate-100" colspan="8"> Period 2 </td>
                    </tr>
                    <tbody id="table-2" class="text-sm " >
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}