{% block content %}
<table class="table px-20 bg-yellow-accent rounded-t-md rounded-b-none overflow-hidden w-full shadow-md">
    <thead id="my-course-head-1">
        <tr class="text-black text-lg text-center">
            <td>Kurskod</td>
            <td class="text-left">Kursnamn</td>
            <td>Hp</td>
            <td>Block</td>
            <td>Nivå</td>
            <td>Vof</td>
            <td></td>
        </tr>
        <tr>
            <td class="bg-slate-100 px-10 py-3 text-black text-xl font-bold" colspan="8"> Period 1 </td>
        </tr>
    </thead>
    <tbody id="my-courses-1" class="text-sm">

    </tbody>
</table>
<table class="table rounded-b-md rounded-t-none shadow-md overflow-hidden">
    <thead id="my-course-head-2">
        <tr style="visibility:collapse;" class="text-white text-lg text-center invisible">
            <td>Kurskod</td>
            <td class="text-left">Kursnamn</td>
            <td>Hp</td>
            <td>Block</td>
            <td>Nivå</td>
            <td>Vof</td>
            <td></td>
        </tr>
        <tr>
            <td class=" px-10 py-3 text-xl font-bold text-black shadow-md bg-slate-100" colspan="8"> Period 2 </td>
        </tr>
    </thead>
    <tbody id="my-courses-2" class="text-sm shadow-md">

    </tbody>
</table>
{% endblock %}