{% block content %}
<p>Termin 7</p>
<table class="table px-20 bg-slate-600 rounded-lg overflow-hidden mb-10 shadow-md">
    <thead>
        <tr class="text-white text-lg text-center">
            <td>Kurskod</td>
            <td class="text-left">Kursnamn</td>
            <td>Hp</td>
            <td>Block</td>
            <td>Nivå</td>
            <td>Vof</td>
            <td></td>
        </tr>
    </thead>
    <tbody id="my-courses" class="text-sm">
        <tr>
            <td class="bg-white p-10" colspan="8"> Inga kurser valda </td>
        </tr>
    </tbody>
</table>
{% endblock %}