{% block content %}
<div class="max-w-sm flex flex-col justify-center bg-white rounded-md shadow-md px-10 py-4 w-full">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Alla terminer</h2>
    <ul class="max-w-md space-y-4 text-gray-500 list-inside dark:text-gray-400">
        <div>
            <li class="flex items-center justify-between text-black">
                <div class="flex items-center"> 
                    <p>Total hp</p>
                </div>
                <p id="semesters-total-hp"> 0 </p>
            </li>
            <li class="flex items-center justify-between">
                <div class="flex items-center"> 
                    <div class="inline-flex items-center" data-tooltip-target="tooltip-term-7">
                        <svg id="semester-7-check" class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                
                        <div id="tooltip-term-7" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">

                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    
                        <p>Termin 7</p>
                    </div>
                </div>
                <p id="semester-7-total-hp"> 0 </p>
            </li>
            <li class="flex items-center justify-between">
                <div class="flex items-center"> 
                    <div class="inline-flex items-center" data-tooltip-target="tooltip-term-8">
                        <svg id="semester-8-check" class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                
                        <div id="tooltip-term-8" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">

                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    
                        <p>Termin 8</p>
                    </div>
                </div>
                <p id="semester-8-total-hp"> 0 </p>

            </li>
            <li class="flex items-center justify-between">
                <div class="flex items-center"> 
                    <div class="inline-flex items-center" data-tooltip-target="tooltip-term-9">
                        <svg id="semester-9-check" class="w-3.5 h-3.5 mr-2 text-red-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                        </svg>
                
                        <div id="tooltip-term-9" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">

                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    
                        <p>Termin 9</p>
                    </div>
                </div>
                <p id="semester-9-total-hp"> 0 </p>
            </li>
        </div>
        <div>
            <li class="flex items-center justify-between text-black">
                <div class="flex items-center"> 
                    <p>Hp per nivå</p>
                </div>
                <p class=""> Hp </p>
            </li>
            <li class="flex items-center justify-between">
                <div class="flex items-center"> 
                    <p>Avancerad</p>
                </div>
                <p id="semesters-total-hp-advanced"> 0 </p>
            </li>
            <li class="flex items-center justify-between">
                <div class="flex items-center"> 
                    <p>Grund</p>
                </div>
                <p id="semesters-total-hp-basic"> 0 </p>
            </li>
        </div>
    </ul>

</div>{% endblock content %}
