{% extends 'base.html' %}
{% block content %}
    <div id="home-container" class="flex flex-col justify-center items-center space-y-2">
        <h1 class="text-black">Hi {{ user.username }}! </h1>
        <a class="bg-sky-500 text-white p-3 transition ease-in-out duration-300 hover:bg-sky-700 rounded-lg" href="{% url 'courses' %}"> Courses </a>
        <a class="bg-sky-500 text-white p-3 transition ease-in-out duration-300 hover:bg-sky-700 rounded-lg" href="{% url 'logout' %}">Log Out</a>

        <div id="chosen-courses" class="flex">
            <p> Mina valda kurser </p>
        </div>

        <div id="pickable-courses" class="flex flex-col w-full">
            <form action="{% url 'profile_pick' %}" method="POST" class="flex justify-center">
                {% csrf_token %}
                {{ form.profiles }}
                <button class="bg-sky-500 text-white p-3 transition ease-in-out duration-300 hover:bg-sky-700 rounded-br-lg rounded-tr-lg" type="submit">Välj profil</button>
            </form>
            {% if profile_picked %}
                <div class="flex flex-col px-20 py-5 space-y-3">
                <p class="text-3xl"> {{ profile_name }} </p>
                {% for course in courses %}
                    <div class="flex space-x-2 border-indigo-500 border-l-4 rounded-md shadow-box bg-white">
                {% for key, value in course.items %} 
                    {% if key == "course_name" %}
                        <div class="p-2 w-2/5">{{ value }}</div>
                    {% elif key == "course_code" %}
                        <div class="p-2 font-mono">{{ value }}</div>
                    {% else %}
                        <div class="p-2">{{ value }}</div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
            {% endif %}
        </div>

    </div>
{% endblock %}

