{% extends 'base.html' %}
{% block content %}
    <div id="home-container" class="flex flex-col justify-center items-center space-y-2">
        <h1 class="text-black">Hi {{ user.username }}! </h1>
        <a class="bg-sky-500 text-white p-3 transition ease-in-out duration-300 hover:bg-sky-700 rounded-lg" href="{% url 'courses' %}"> Courses </a>
        <a class="bg-sky-500 text-white p-3 transition ease-in-out duration-300 hover:bg-sky-700 rounded-lg" href="{% url 'logout' %}">Log Out</a>

        <div id="chosen-courses" class="flex">
            <p> Mina valda kurser </p>
        </div>

        <div id="pickable-courses" class="flex flex-col">
            <form method="POST" class="flex justify-center">
                {% csrf_token %}
                {{ form.profiles }}
                <button class="bg-sky-500 text-white p-3 transition ease-in-out duration-300 hover:bg-sky-700 rounded-br-lg rounded-tr-lg" type="submit">Välj profil</button>
            </form>
            {% if profile_picked %}
                <p> {{ profile_name }} </p>
                <div class="flex flex-col">
                {% for course in courses %}
                    <div class="mr-5 ml-5 flex space-x-2 border-indigo-500 border-l-4 rounded-md shadow-box bg-white">
                {% for key, value in course.items %} 
                    <div class="p-2">{{ value }}</div>
                {% endfor %}
                </div>
                <br>
            {% endfor %}
            {% endif %}
        </div>

    </div>
{% endblock %}

