{% extends 'base.html' %}

{% block content %}
    <div id="home-container" class="flex bg-gray-200 flex-col justify-center items-center space-y-2">
        <h1 class="text-black">Hi {{ user.username }}! </h1>
        <a class="bg-sky-500 text-white p-3 transition ease-in-out duration-300 hover:bg-sky-700 rounded-lg" href="{% url 'courses' %}"> Courses </a>
        <a class="bg-sky-500 text-white p-3 transition ease-in-out duration-300 hover:bg-sky-700 rounded-lg" href="{% url 'logout' %}">Log Out</a>

        <div id="chosen-courses" class="flex">
            <p> Mina valda kurser </p>
        </div>
        <div id="pickable-courses" class="flex flex-col w-full">
            <form action="{% url 'profile' %}" method="POST" class="flex justify-center">
                {% csrf_token %}
                {{ form.profiles }}
                <button class="bg-sky-500 text-white p-3 transition ease-in-out duration-300 hover:bg-sky-700 rounded-br-lg rounded-tr-lg" name="pick_profile" type="submit">Välj profil</button>
            </form>
        <div class="mx-48">
            {% include 'courses.html' %}
            {% if profile_picked %}
                <p class="text-3xl"> {{ profile_name }} </p>
                {% for term, course in term_courses.items %}
                <table class="table px-20 rounded-lg overflow-hidden mb-10">
                <thead class="bg-sky-300 text-black/75 text-xl">
                    <tr>
                        <th>Period {{term}}</th>
                    {% for tag, x in course_tags.items %}
                        <th>
                            {{ tag }}
                        </th>
                    {% endfor %}
                    </tr>
                </thead>
                    <tbody class="text-lg">
                        {% for course_data in course %}
                        <tr class="bg-white hover:bg-gray-200/75">
                            <td>
                                <input type="checkbox" class="checkbox checkbox-info">
                            </td>
                            {% for data in course_data.values %}
                               <td> {{ data }} </td>
                            {% endfor %}
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    </div>
{% endblock %}

