/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar .text {
    opacity: 0;
    transition: opacity 300ms, color 300ms;

}

.sidebar:hover .text {
    opacity: 1;
    color: white;
}

.sidebar .icon {
    transition: color 300ms, background 300ms;
}

.sidebar:hover .icon {
    color: white;
    background: none;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-menu {
    position: absolute;
    background: rgb(231, 231, 231);
    width: 100px;
    max-height: 300px;
    overflow-y: scroll;
    border-radius: 0px 0px 5px 5px;
}

.ui-menu-item {
    padding: 10px;
    transition: background 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.ui-menu-item:hover {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.card-active {
    background: #facc15;
}

.card-active:hover {
    background: #facc15;
}